#keypad {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  height: 520px;
  width: 418px;
  padding: 10px;
  background-color: black;
  border-radius: 8px;
}

.utility,
.operator,
.digit {
  height: 100px;
  width: 100px;
  margin: 1px;
  border-radius: 8px;
}

#zero {
  width: 202px;
}

.utility {
  background-color: #00b4c5;
}

.operator {
  background-color: #00bf7d;
}

.digit {
  background-color: #0073e6;
  color: #ffffff;
}
