body {
  padding: 24px;
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 48px;
}

#calculator {
  display: flex;
  flex-direction: column;
  gap: 4px;
  background-color: #708090;
  padding: 20px;
  border-radius: 8px;
  border-right: 5px solid #000000;
  border-bottom: 5px solid #000000;
}

#display {
  background-color: #f5f5f5;
  display: flex;
  justify-content: end;
  align-items: center;
  height: 70px;
  padding: 20px;
  margin-bottom: 12px;
  border-radius: 8px;
  border-top: 2px solid #000000;
  border-left: 2px solid #000000;
}

.row {
  display: flex;
  gap: 4px;
  justify-content: space-between;
}

.utility,
.operator,
.digit {
  font-size: 32px;
  height: 100px;
  width: 100px;
  border-radius: 8px;
  border-color: #708090;
}

#zero {
  width: 204px;
}

.utility {
  background-color: #00b4c5;
}

.operator {
  background-color: #00bf7d;
}

.digit {
  background-color: #0073e6;
  font-weight: bold;
}
